{% extends 'base.html' %}

{% block content %}

{% load static %}


<article id="podstrona" style="margin-top: 1%; border-radius: 3px; border-radius: 0 0 3px 3px;">
    {% if previous_year is True %}	
    <div id="archiwum_prev">
        <a href="{% url 'archiwum' date=choosen_date|add:-1 %}">
                <h3 class="arrow_text">{{choosen_date|add:-1}}</h3>
                <img src="{% static 'ikony/archiwumarrow2.png' %}" height="130" width="130">
        </a>	
    </div>
    {% endif %}

    <div id="archiwum_header">
        <h1>{{ header_text }}</h1>
    </div>
     
    {% if next_year is True %}	
    <div id="archiwum_next">
        <a href="{% url 'archiwum' date=choosen_date|add:1 %}">
            <h3 class="arrow_text">{{choosen_date|add:1}}</h3>
            <img src="{% static 'ikony/archiwumarrow1.png' %}" height="130" width="130">
        </a>
    </div>	
    {% endif %}

    <div id="archiwum_input">
        <form method="POST" action="{% url 'archiwumsearch' %}"> {% csrf_token %}
            <input id="lupa" type="image" src="{% static 'ikony/lupa.png' %}" title="szukaj" height="40" width="40" value="submit" onfocus="blur()"/>
            <input id="szukaj" type="search" name="szukaj" placeholder="Wpisz nazwę artykułu">

            <div id="miesiąc">
                <p>Wybierz miesiąc</p>
                <div id="miesiące">
                    <input type="radio" value="01" name="miesiąc" checked>Styczeń<br>
                    <input type="radio" value="02" name="miesiąc" checked>Luty<br>
                    <input type="radio" value="03" name="miesiąc" checked>Marzec<br>
                    <input type="radio" value="04" name="miesiąc" checked>Kwiecień<br>
                    <input type="radio" value="05" name="miesiąc" checked>Maj<br>
                    <input type="radio" value="06" name="miesiąc" checked>Czerwiec<br>
                    <input type="radio" value="07" name="miesiąc" checked>Lipiec<br>
                    <input type="radio" value="08" name="miesiąc" checked>Sierpień<br>
                    <input type="radio" value="09" name="miesiąc" checked>Wrzesień<br>
                    <input type="radio" value="10" name="miesiąc" checked>Październik<br>
                    <input type="radio" value="11" name="miesiąc" checked>Listopad<br>
                    <input type="radio" value="12" name="miesiąc" checked>Grudzień<br>
                </div>
            </div>

            <input type="text" name="rok" placeholder="Wpisz rok" id="rok">
        
            <div id="szukaj_wybor">
                <p>Wybierz metodę szukania</p>
                <div id="sposob">
                    <input type="radio" value="Nazwa" name="sposob" id="Nazwa" checked>Nazwa<br>
                    <input type="radio" value="Data" name="sposob" id="Data">Data
                </div>
        </form>
    </div>
    </div>


<hr style="width:99%; padding-left:0%;">

{% if "1" in articles_dates_months %}
<div class="semestr"><h2>Styczeń</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 1 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "2" in articles_dates_months %}
<div class="semestr"><h2>Luty</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 2 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "3" in articles_dates_months %}
<div class="semestr"><h2>Marzec</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 3 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "4" in articles_dates_months %}
<div class="semestr"><h2>Kwiecień</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 4 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "5" in articles_dates_months %}
<div class="semestr"><h2>Maj</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 5 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "6" in articles_dates_months %}
<div class="semestr"><h2>Czerwiec</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 6 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "7" in articles_dates_months %}
<div class="semestr"><h2>Lipiec</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 7 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "8" in articles_dates_months %}
<div class="semestr"><h2>Sierpień</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 8 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "9" in articles_dates_months %}
<div class="semestr"><h2>Wrzesień</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 9 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "10" in articles_dates_months %}
<div class="semestr"><h2>Październik</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 10 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "11" in articles_dates_months %}
<div class="semestr"><h2>Listopad</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 11 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}

{% if "12" in articles_dates_months %}
<div class="semestr"><h2>Grudzień</h2></div>
{% for article in articles %}
    {% if article.add_date.month == 12 %}
    <div class="titles_articles">
        <a href="#">{{article.title}}&nbsp;</a>
        ({{article.add_date}})
    </div>
    {% endif %}
{% endfor %}
{% endif %}


</article>

<script>
    document.getElementById('szukaj_wybor').addEventListener("mouseover", function(){
    $('#sposob').css('display', 'block');
 });
 document.getElementById('szukaj_wybor').addEventListener("mouseout", function(){
    $('#sposob').css('display', 'none');
 });
 
 document.getElementById('Data').addEventListener("click", function(){
    $('#szukaj').css('display', 'none');
    $('#miesiąc').css('display', 'block');
    $('#rok').css('display', 'block');
 });
 
 document.getElementById('miesiąc').addEventListener("mouseover", function(){
    $('#miesiące').css('display', 'block');
 });
 document.getElementById('miesiąc').addEventListener("mouseout", function(){
    $('#miesiące').css('display', 'none');
 });
 
 document.getElementById('Nazwa').addEventListener("click", function(){
    $('#miesiąc').css('display', 'none');
    $('#rok').css('display', 'none');
    $('#szukaj').css('display', 'block');
    
 });
</script>

{% endblock %}
