{% extends 'base.html' %}

{% block content %}

{% load static %}

<article id="podstrona">
	<div id="tekstpodstrona">

		 <h3 style="margin-left:2%;">Krótka historia szkoły</h3>
				<p id="historia">Początki szkoły sięgają 1945 roku, kiedy to powołano Liceum i
				Gimnazjum Elektryczne-pierwsza szkoła techniczna w wyzwolonym
				Toruniu. W roku 1952 szkołę połączono z Technikum Mechanicznym,
				tworząc tym samym Technikum Mechaniczno – Elektryczne którego
				siedzibą był budynek znajdujący się przy <a href="https://pl.wikipedia.org/wiki/Budynek_przy_ul._Sienkiewicza_29_w_Toruniu" target="_blank"><b>ul. Sienkiewicza 29.</b></a>
				W 1963 roku szkołę przeniesiono do nowo wybudowanego gmachu
				przy ul. św. Józefa 26. Tam też 20 kwietnia 1969 roku oddano
				do użytku pierwszą w Toruniu krytą pływalnię.
				W 1975 roku decyzją władz oświatowych szkołę przekształcono
				w Zespół Szkół Mechanicznych i Elektrycznych, a w 1993 roku w
				Zespół Szkół Mechanicznych, Elektrycznych i Elektronicznych.
				Również w 1993 roku rozpoczął się udział naszej szkoły w
				programie MOVE (jeden z programów PHARE). ZSMEiE współpracuje
				ze szkołą techniczną BBS II w Getyndze, SBBS w Heiligenstadt
				z młodzieżą polonijną z Petersburga oraz ze szkołą w Solecznikach.
				Rok 2001 obfitował w ważne wydarzenie - otóż zespół naszych
				dyplomantów zajął znowu I miejsce w Polsce i otrzymał tytuł
				Technik 2001 - a szkoła puchar Ministra Edukacji Narodowej,
				szkoła zorganizowała też Ogólnopolską Olimpiadę Wiedzy
				Elektrycznej i Elektronicznej.
				20 czerwca 2015 roku władze szkoły zorganizowały obchody
				z okazji 70–lecia jej istnienia.</p>

			<div id="dyrektorzy">
		<h3>Dyrektorzy szkoły na przestrzeni lat:</h3>
		 <ul>
			 <li>inż. Eugeniusz Nieciejowski 1946-1949</li>
			 <li>Kazimierz Suwała 1949-1950</li>
			 <li>Witold Lewandowski 1950-1955</li>
			 <li>Feliks Lipkowski 1955-1975</li>
			 <li>inż. Władysław Pieńkowski 1975-1992</li>
			 <li>Andrzej Skrzypczyk 1992-2012</li>
			 <li>Małgorzata Łopatko od 2012</li>
		 </ul>
			</div>

			<div id="przebudowy">
	 <h3>Przebudowy:</h3>
 <p>1952 - Siedziba w budynku przy ulicy Sienkiewicza 29<br>
		1963 - Nowa siedziba w gmachu przy ulicy Św.Józefa 26<br>
		20 kwietnia 1968 - Otwarcie pierwszej w Toruniu krytej pływalni<br>
		2016-2018 - gruntowna modernizacja szkolnej pływalni<br>
		25 kwietnia 2018 roku w szkole została otwarta pracownia<br>
		mechatroniki i automatyki, którą ufundowała<a href="https://pl.wikipedia.org/wiki/Pomorska_Specjalna_Strefa_Ekonomiczna" target="_blank"><b> Pomorska Specjalna<br>
		Strefa Ekonomiczna.</b></a></p></p>
			</div>
		</div>

<div class="slidercontainer">

	<div class="slide">
			<img src="{% static 'images/sienkiewicza.png' %}" alt="sienkiewicza ZSMEiE" height="100%" width="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

	<div class="slide">
			<img src="{% static 'images/baraki.png' %}" alt="baraki ZSMEiE" height="90%" width="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

	<div class="slide">
			<img src="{% static 'images/basen.png' %}" alt="basen ZSMEiE" height="90%" width="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

	<div class="slide">
			<img src="{% static 'images/szkola.png' %}" alt="budynek ZSMEiE" height="90%" width="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

	<div class="slide">
			<img src="{% static 'images/zdj01.png' %}" width="100%" height="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

	<div class="slide">
			<img src="{% static 'images/zdj05.png' %}" width="100%" height="100%">

			<div class="arrow" onclick="minusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			</div>

			<div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				<p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			</div>

	</div>

</div>

	</article>

<script src="{% static 'javascript/jquery.js' %}"></script>
<script src="{% static 'javascript/slider.js' %}"></script>
<script src="{% static 'javascript/menu.js' %}"></script>



{% endblock %}
