{% extends 'base.html' %}

{% block content %}

{% load static %}


{% for article in articles %}
<article class="articles">

		<div class="pasek_articles">
			<div class="text_pasek">{{article.add_date}}
			{% if user.is_authenticated %}
			<span id="adminarticletools">
					<a href="{% url 'renderarticleeditform' article_id=article.id %}">Edytuj</a>
			</span>
			{% endif %}
			</div>
		</div>
		<div><img src="{{article.icon.url}}" class="photo_articles"></div>
		<div class="text_in_articles"><span>{{article.title}}</span></div>
		<div class="text_in_articles2">{{article.description}}</div>
		<div class="button"><a href="#indeks">Więcej...</a></div>

		<div class="rozwiniecie">{{article.content}}</div>
	</article>
{% endfor %}

{% endblock %}