{% extends 'base.html' %}


{% block content %}

{% load static %}


<article id="podstrona">
	<h3 class="terminy">Programy praktyk zawodowych (nowa podstawa programowa)</h3>
<div id="linki">

<a href="http://www.zsmeie.torun.pl/glowna/program/p311303.pdf">
<p class="terminy">Program praktyki zawodowej dla zawodu Technik Elektryk 311303</p></a>

<a href="http://www.zsmeie.torun.pl/glowna/program/p311408.pdf">
<p class="terminy">Program praktyki zawodowej dla zawodu Technik Elektronik 311408</p></a>

<a href="http://www.zsmeie.torun.pl/glowna/program/p311410.pdf">
<p class="terminy">Program praktyki zawodowej dla zawodu Technik Mechatronik 311410</p></a>

<a href="http://www.zsmeie.torun.pl/glowna/program/p351203.pdf">
<p class="terminy">Program praktyki zawodowej dla zawodu Technik Informatyk 351203</p></a>

<a href="http://www.zsmeie.torun.pl/glowna/dokument/r23.pdf">
<p class="terminy">Regulamin praktyk zawodowych</p></a>
	 </div>
</article>



<script src="../javascript/jquery.js"></script>
<script src="../javascript/menu.js"></script>
{% endblock %}
