{% extends 'base.html' %}

{% block content %}

{% load static %}

<article id="podstrona">
	<div style="padding-right: 2%;">
 <h2>Rekturacja 2018</h2>
	 <p>Strona do logowania - rekrutacja: &nbsp<a href="http://www.torun.e-omikron.pl/index.shtml"><strong>www.torun.e-omikron.pl</strong></a></p>
 <h3 class="terminy">Punktacja</h3>
	 <p>O przyjęciu do ZSMEiE w Toruniu decyduje suma uzyskanych punktów:</p>
				<p>--> Wyniki egzaminu gimnazjalnego - max. 100 punktów (1% = 0,2 pkt)<br>
					--> Oceny na świadectwie ukończenia gimnazjum (cztery przedmioty określone w powyższej tabeli), punktacja wg poniższej tabeli -maksymalnie 72 punkty.</p>
				 <ul>
						<li>Celujący - 18pkt</li>
					 <li>Bardzo dobry - 17pkt</li>
					 <li>Dobry - 14pkt</li>
					 <li>Dostateczny - 8pkt</li>
					 <li>Dopuszcający - 2pkt</li>
				 </ul>
			 <p>--> Ukończenie gimnazjum z wyróżnieniem - 7 punktów.<br>
					--> Osiągnięcia wymienione na świadectwie ukończenia gimnazjum: </p>

					 <p>1. Uzyskanie wysokiego miejsca nagrodzonego lub uhonorowanego zwycięskim tytułem w zawodach wiedzy, artystycznych i sportowych, organizowanych przez kuratora oświaty albo organizowanych co najmniej na szczeblu powiatowym przez inne podmioty działające na terenie szkoły.</p>
						 <ol type=A>
							 <li>uzyskanie w zawodach wiedzy będących konkursem o zasięgu ponadwojewódzkim organizowanym przez kuratorów oświaty na podstawie zawartych porozumień:<br>
									 &nbsp-tytułu finalisty konkursu przedmiotowego - 10 punktów,<br>
									 &nbsp-tytułu laureata konkursu tematycznego lub interdyscyplinarnego - 7 punktów,<br>
									 &nbsp-tytułu finalisty konkursu tematycznego lub interdyscyplinarnego - 5 punktów;</li>

							 <li>uzyskanie w zawodach wiedzy będących konkursem o zasięgu międzynarodowym lub ogólnopolskim albo turniejem o zasięgu ogólnopolskim;<br>
									 &nbsp-tytułu finalisty konkursu z przedmiotu lub przedmiotów artystycznych objętych ramowym planem nauczania szkoły artystycznej - przyznaje się 10 &nbsp&nbsp&nbsp punktów,<br>
									 &nbsp-tytułu laureata turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - przyznaje się 4 &nbsp&nbsp&nbsp punkty,<br>
									 &nbsp-tytułu finalisty turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - przyznaje się 3 &nbsp&nbsp&nbsp punkty;</li>

							 <li>uzyskanie w zawodach wiedzy będących konkursem o zasięgu woj. organizowanym przez kuratora oświaty:<br>
									 &nbsp-dwóch lub więcej tytułów finalisty konkursu przedmiotowego - 10 punktów,<br>
									 &nbsp-dwóch lub więcej tytułów laureata konkursu tematycznego lub interdyscyplinarnego - 7 punktów,<br>
									 &nbsp-dwóch lub więcej tytułów finalisty konkursu tematycznego lub interdyscyplinarnego - 5 punktów,<br>
									 &nbsp-tytułu finalisty konkursu przedmiotowego - 7 punktów,<br>
									 &nbsp-tytułu laureata konkursu tematycznego lub interdyscyplinarnego - 5 punktów,<br>
									 &nbsp-tytułu finalisty konkursu tematycznego lub interdyscyplinarnego - przyznaje się 3 punkty;</li>

							 <li>uzyskanie w zawodach wiedzy będących konkursem albo turniejem, o zasięgu ponadwoj. lub woj.;<br>
									 &nbsp-dwóch lub więcej tytułów finalisty konkursu z przedmiotu lub przedmiotów artystycznych objętych ramowym planem nauczania szkoły artystycznej - 10 punktów,<br>
									 &nbsp-dwóch lub więcej tytułów laureata turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - 7 punktów,<br>
									 &nbsp-dwóch lub więcej tytułów finalisty turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - 5 punktów,<br>
									 &nbsp-tytułu finalisty konkursu z przedmiotu lub przedmiotów artystycznych objętych ramowym planem nauczania szkoły artystycznej - 7 punktów,<br>
									 &nbsp-tytułu laureata turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - 3 punkty,<br>
									 &nbsp-tytułu finalisty turnieju z przedmiotu lub przedmiotów artystycznych nieobjętych ramowym planem nauczania szkoły artystycznej - 2 punkty;</li>

							 <li>uzyskanie wysokiego miejsca w zawodach wiedzy innych niż wymienione w pkt A-D, artystycznych lub sportowych, organizowanych przez kuratora oświaty lub inne podmioty działające na terenie szkoły, na szczeblu:<br>
									 &nbsp-międzynarodowym - przyznaje się - 4 punkty,<br>
									 &nbsp-krajowym - przyznaje się - 3 punkty,<br>
									 &nbsp-wojewódzkim - przyznaje się - 2 punkty,<br>
									 &nbsp-powiatowym - przyznaje się - 1 punkt.</li>

							 <p>W przypadku gdy kandydat ma więcej niż jedno szczególne osiągnięcie w zawodach wiedzy, artystycznych i sportowych, wymienione na świadectwie ukończenia gimnazjum, maksymalna liczba punktów możliwych do uzyskania za wszystkie osiągnięcia wynosi 18 punktów.</p>
						 </ol>
					 <p>2. Osiągnięcia w zakresie aktywności społecznej, w tym na rzecz środowiska szkolnego, w szczególności w formie wolontariatu - 3 punkty.</p>
					 <p>Laureaci i finaliści przedmiotowych olimpiad ogólnopolskich oraz laureaci konkursów przedmiotowych o zasięgu wojewódzkim organizowanych przez Kuratora Oświaty są przyjmowani do wybranej szkoły i klasy niezależnie od przyjętych kryteriów.</p>

		</div>
	 <h3 class="terminy">Dokumenty:</h3>
		<div id="linki">
		<a href="http://www.zsmeie.torun.pl/glowna/nabor/regulamin.pdf">- Regulamin rekrutacji do klas pierwszych</a><br>
		<a href="http://www.zsmeie.torun.pl/glowna/nabor/kalendarz.pdf">- Kalendarz Gimnazjalisty</a><br>
		<a href="http://www.zsmeie.torun.pl/glowna/nabor/terminy.pdf">- Harmonogram badań lekarskich dla uczniów zakwalifikowanych do przyjęcia 2018 / 2019</a><br>
		 <a href="http://www.zsmeie.torun.pl/glowna/nabor/przeciw.pdf">- Przeciwskazania lekarskie na dany kierunek kształcenia</a>
		</div>
	 <h3 class="terminy">Oferta edukacyjna</h3>

	 <div class="slidercontainer">

		 <div class="slide">
			 <img src="../images/programista.png" alt="Technik-Programista" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/automatyk.png" alt="Technik-Automatyk" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/elektronik.png" alt="Technik-Elektronik" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/elektryk.png" alt="Technik-Elektryk" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/informatyk.png" alt="Technik-Informatyk" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/mechatronik.png" alt="Technik-Mechatronik" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/elektryk2.png" alt="Elektryk" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>

		 <div class="slide">
			 <img src="../images/mechatronik2.png" alt="Mechatronik" height="100%" width="100%">

			 <div class="arrow" onclick="minusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9001;</p>
			 </div>

			 <div class="arrow" style="left: 90%;" onclick="plusSlides(1)">
				 <p style="padding-top: 160%; padding-left: 30%;">&#9002;</p>
			 </div>
		 </div>
	 </div>

 </article>

<script src="../javascript/jquery.js"></script>
<script src="../javascript/slider1.js"></script>
<script src="../javascript/menu.js"></script>
{% endblock %}
