/* 2 członowe nazwy */
.menuoptionlong {
	display: none;
	height: 30px;
	width: 97%;
	color: black;
	border:2px solid black;
	padding-top: 3px;
	margin-top:3px;
	text-align:center;
	border-radius:5px;
	z-index: 1;
	background-color: white;
	font-size: 0.9em;
	cursor: pointer;
	box-shadow: inset 0 0 0 0  gray;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.7s;
	transition: ease-out 0.6s;
}
.menubuttons:hover .menuoptionlong {
	display: block;
	text-decoration:none;
}
/* ----------------------- */
#podstrona
{
	width: 95%;
	background-color: white;
	padding-left: 1%;
	float: left;
	margin-bottom: 1%;
	border-width: thin;
	border-style: solid;
	border-color: black;
	margin-left: 1%;
	font-size: 1em;
	border-radius: 0 0 3px 3px;
	margin-top: 1%;
}
/*CSS do ogarniania rekrutacji*/

#rekrutacja{
	float: left;
}
#rekrutacja2{
	margin-right: 20px;
}

/*Koniec CSS do ogarniania rekrutacji*/
/*slider*/
.slidercontainer
{
	clear: both;
	max-width: 60%;
	margin: 0 auto;
	z-index: 0;
}
.slide
{
	display: none;
	z-index: 0;
	position: relative;
}

/*koniec slidera na historii szkoły*/

.arrow
{
	width: 10%;
	height: 98.6%;
	color: white;
	opacity: 0.8;
	z-index: 2;
	position: absolute;
	top: 0%;
	font-size: 1.8em;
	cursor: pointer;
}
.arrow:hover
{
	background-color: black;
	opacity: 0.8;
}
#tekstpodstrona{
	margin-right:1.5%;
}
/*CSS Zdjęcia/Galeria */
.galeria{
	width: 31%;
	margin: 5px;
	float: right;
	border-radius:8px;
	transition: transform .2s;
}
.galeria:hover{
	transform: scale(1.3);
	cursor:pointer;
}
#screenholder{
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: #525252f0;
	z-index: 10;
	top:0;
	left: 0%;

}
#leftarrowgaleria{
	width: 4%;
	float: left;
	margin-top: 38vh;
	margin-left: 1%;
	margin-right: 4%;
}
#rightarrowgaleria{
	width: 4%;
	float: right;
	margin-top: 38vh;
	margin-right: 1%;
	margin-left: 4%;
}
#screenholderimg{
	width: 65vw;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 90vh;
	margin-top: 5vh;
	float: left;
	margin-left: 15vw;
}
#exit{
	cursor:pointer;
	color: #f0ebebe1;
	border: 1px solid black;
	border-radius:0 0 5px 5px;
	background-color: #ff4c4c;
	float: right;
	width: 24px;
	height: 24px;
	padding:13px;
	right: 19vw;
	position: absolute;
}
#exit:hover{
	background-color: #e5210b;
}
/*CSS Zdjęcia/Galeria KONIEC */