@media (min-width: 980px) and (max-width: 1124px){
	.menuoption {
	height: 19px;
	padding-top: 8px;
	margin-top:5px;
	font-size: 0.67em;
}
	#themepages{
	width:46%;
	float:left;
	padding:1%;
	background-color: white;
	border: 1px black solid;
	margin-top: 2%;
	border-radius:5px;
	text-align: center;
	font-size: 0.7em;
}
	#sponsors{
	font-size: 0.7em;
}
	#footer
{
	font-size: 0.9em;
}
}





@media (min-width:800px) and (max-width: 979px){
	#mainlogoholder{
	font-size: 1.4em;
}
	.menubuttons{
	font-size: 0.6em;
}
	.menuoption {
	height: 18px;
	width: 95%;
	padding-top: 8px;
	margin-top:5px;
	font-size: 0.67em;
}
	#themepages{
	font-size: 0.7em;
}
	#sponsors{
	font-size: 0.7em;
}
	#footer
{
	font-size: 0.9em;
}
}






}@media (min-width:600px) and (max-width: 799px){
	#mainlogoholder{
	font-size: 1.4em;
}
	.menubuttons{
	font-size: 0.6em;
	height: 15px;
	padding-top: 5px;
}
	#menu{
	height: 40px;
}
#menubuttonlayout{
	height: 26px;
}
	.menuoption {
	height: 18px;
	width: 92%;
	padding-top: 8px;
	margin-top:4px;
	font-size: 0.7em;
	margin-left: 1px;
}
	#themepages{
	font-size: 0.7em;
}
	#sponsors{
	font-size: 0.7em;
}
	#footer
{
	font-size: 0.9em;
}
}




@media (min-width:300px) and (max-width: 600px){
	#mainlogoholder{
	font-size: 1.4em;
}
	.menubuttons{
	font-size: 0.7em;
	height: 25px;
	padding-top: 5px;
	float: none;
	width: 100%;
}
	#menu{
	height: 315px;
}
	#menubuttonlayout{
	height: 26px;
	font-size: 1.6em;
}
	.menuoption {
	height: 18px;
	width: 99%;
	padding-top: 8px;
	margin-top:4px;
	font-size: 0.7em;
	margin-left: 1px;
	margin-bottom:1px;
}
	#themepages{
	font-size: 0.7em;
	width:96%;
	float:none;
}
	#sponsors{
	font-size: 0.7em;
	width: 96%;
	float:none;
}
	#footer{
	font-size: 0.9em;
}
.optionholder{
	margin-bottom:3px;
}
