#loginpanel{
	background-color:black;
	right: 0 ;
	text-align: center;
	color: white;
	float:right;
	font-size: 0.9em;
}

#logininputs
{
	margin-left: 30%;
	font-size:3em;
	margin-top:10%;
}

input[type=text]
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	font-size:0.8em;
	border-radius: 6px;
}

input[type=text]:focus
{
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

input[type=submit]
{
	border-radius: 20px;
	background-color: white;
	font-size:0.6em;
}

/* MENU */
.menubuttons{
	height: 24px;
	width: 13%;
	background-color: white;
	border:2px solid black;
	float:left;
	padding-top: 8px;
	margin-left:0.5%;
	margin-top:10px;
	text-align:center;
	display: inline-block;
	font-weight: bold;
	border-radius:5px;
	z-index: 1;
	position: relative;
	font-size: 1em;
}
.menuoption {
	display: none;
	height: 24px;
	width: 97%;
	color: black;
	border:2px solid black;
	padding-top: 8px;
	margin-top:3px;
	text-align:center;
	border-radius:5px;
	z-index: 1;
	background-color: white;
	font-size: 0.9em;
	cursor: pointer;
	box-shadow: inset 0 0 0 0  gray;
	-webkit-transition: ease-out 0.4s;
	-moz-transition: ease-out 0.7s;
	transition: ease-out 0.6s;
}

.menuoption:hover {
  box-shadow: inset 400px 0 0 0 #000;
	color:white;
}

.optionholder{
	background-color:#eaeaea90;
	width: 98%;
	border:2px solid black;
	margin-left: -2px;
	margin-top: 7px;
	display: none;
	border-radius:5px;
	z-index: 1;
	padding:1%;
	padding-right: 1%;
	padding-bottom: 3px;
}
.optionholder>a{
	text-decoration:none;
}
.menubuttons:hover .menuoption {
	display: block;
	text-decoration:none;
}
.menubuttons:hover .optionholder{
	display: block;
}
.menubuttons:hover {
	background: #000000;
	color: #FFFFFF;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
/* MENU END */
#alertbox{
	width: 92%;
	border: 3px red dashed;
	background-color: white;
	margin: 0 auto;
	text-align:center;
	font-weight: bold;
	font-family: Ropa Sans;
	color: black;
	font-size: 1em;
	padding:3%;
}
/* ARTYKUŁY */
.articles
{
	width: 95%;
	background-color: #e6f9ff;
	height: 118px;
	padding-left: 1%;
	float: left;
	margin-bottom: 1%;
	border-width: thin;
	border-style: solid;
	border-color: black;
	margin-left: 1%;
	font-size: 1em;
	border-radius: 3px;
	border-radius: 0 0 3px 3px;
}
.text_in_articles
{
	text-align: left;
	padding-left: 20%;
}
.link
{
	text-align: right;
	margin-top: 0.1%;
	padding-right: 2%;

}
.rozwiniecie
{
	min-width: 944px;
	width: 100%;
	background-color: #e6f9ff;
	height: 118px;
	float: left;
	margin-bottom: 1%;
	border-width: thin;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-color: black;
	font-size: 1em;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-radius: 0 0 3px 3px;
}


/* ARTYKUŁY END */
