body{
	margin: 0;
	font-family: 'Ropa Sans', sans-serif;
	background-color: #d8d8d8;
	position: relative;
}
a{
	color:black;
	text-decoration: none;
}
.terminy{
	text-align:center;
}
#banner{
	display:block;
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image: url('../slider/tlo.JPG');
	text-align:center;
	margin: 0 auto;
	background-repeat: no-repeat;
	display:table;
	background-attachment:fixed;
	text-shadow: 3px 3px black;
}
#mainlogoholder{
	color: white;
	font-size: 2em;
	font-family: Audiowide, cursive;
	margin-top: 1%;
	padding:10px;
	margin-bottom: 1.5%;
}
#zsmeiemainlogo{
	z-index:3;
	margin: 0 auto;
}
#silverplate{
	z-index:1;
	margin-left: -2vw;
	margin-top: 11vh;
	position: absolute;
}
#socialmedia{
	width: 85px;
	height:27px;
	background-color:white;
	position: absolute;
	margin-top: -32px;
	padding-top:3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
}
#RODO{
	width: 70px;
	height:27px;
	background-color: #75a8fc;
	position: absolute;
	margin-top: -65px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #adccfd;
	cursor:pointer;
	float: right;
	right: 0;
}
#RODO_text{
	margin-left: 7px;
	margin-top: 5px;
	font-weight: bold;
}
#zoom{
	width: 70px;
	height:30px;
	background-color: #fdf900;
	position: absolute;
	margin-top: -32px;
	margin-bottom: 5px;
	font-family: 'Ropa Sans', sans-serif;
	padding-right: 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	right: 0;
}
#zoom_text{
	margin-left:4%;
	margin-top:3%;
	font-size:1.1em;
	font-weight: bold;
}
#menu{
	width:100%;
	height: 58px;
	background-color: white;
}
#menubuttonlayout{
	height: 34px;
	width: 90%;
	margin: 0 auto;
}
#container{
	width: 100%;
	min-height:135vh;
	margin: 0 auto;
}
#contentcontainer{
	width: 69%;
	min-height: 120vh;
	background-color:#d8d8d8;
	margin: 0 auto;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 0.5%;
}
/* MENU RIGHT */
#menuright{
	width: 29%;
	background-color:#eaeaea;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	transition: 0.5s;
	height: auto;
}
#rightmenubutton{
	border-radius: 5px;
	display: none;
	z-index: 999;
	background-image: url('../ikony/menuicon.png');
	background-size: 100%;
}
.themepages{
	width:49%;
	float:right;
	background-color: white;
	margin-top: 2%;
	text-align: center;
	margin-right:1%;
	position: relative;
	height: 130vh;	
}
ul li{
	list-style-type: none;
	padding-bottom: 10px;
}
#logos{
	padding-top: 6%;
	margin: 0 auto;
	height: 90%;
	width:99%;
}
.imglogolayout{
	width: 95%;
	margin-bottom: 2.5%;
	margin-top:3%;
	padding:2%;
	border-bottom:1px solid rgb(128, 127, 127);
}
/* MENU RIGHT END */
#footer{
	width:auto;
	height: 70px;
	background-color:#9a9a9a;
	clear: both;
	padding:0.5em;
	color: white;
	font-size: 1em;
}
.title_themepages{
	text-align: center;
}
.text_themepages{
	text-align: left;
	padding-left: 10%;
}

.STRONY_TEMATYCZNE{
	width: 100%;
	background-color: #94bcfc;
	margin: 0 auto;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
}
/* PODSTRONA O PATRONIE */
.p1_text{
	padding-left: 1%;
	padding-right: 2%;
}
/* DOKUMENTY */
.docslink{
	padding-bottom: 5px;
}
.podlink{
	padding-left: 1.5%;
	padding-bottom: 5px;
}
/* REKRUTACJA */
.rekrutacja{
	float: left;
}
/* HISTORIA SZKOŁY */
#historia{
	margin-left:2%;
	margin-right:2%;
}
#dyrektorzy{
	float:left;
	margin-left:2%;
	margin-right:7%;
}
#przebudowy{
	float:left;
	margin-left:2%;
}
/* PRACOWNICY */
.nauczyciele{
	border: 1px solid black;
	float: left;
	width: 98%;
	margin-right:2%;
}
