body{
	margin: 0;
	font-family: 'Ropa Sans', sans-serif;
}
#headerinfo{
	background-color: black;
	width:auto;
	color: orange;
	padding-left: 5%;
	text-align: center;
	font-size: 100%;
}
#mainlogoholder{
	color: white;
	font-size: 30px;
	font-family: Audiowide;
	margin-top: 1.5%;
	background-color:#eaeaea75;
	padding:10px;
}
#headerphotos{
	display:block;
	width: auto;
	height: 300px;
	overflow: hidden;
    background-image: url('../slider/1.jpg');
	background-position: absolute;
	text-align:center;
	margin: 0 auto;
}
#menu{
	width:auto;
	height: 34px;
	margin-bottom:20px;
}
#menubuttonlayout{
	height: 34px;
	width: 1275px;
	margin: auto;
}

#contentcontainer{
	width: 73%;
	min-height: 100%;
	background-color:#d8d8d8;
	margin: 0 auto;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 0.5%;
}
#menuright{
	width: 25%;
	min-height: 100%;
	background-color:#eaeaea;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 0.5%;
}
#footer
{
	width:auto;
	height: 100px;
	background-color:#9a9a9a;
	clear: both;
}
.articles
{
	width: 95%;
	background-color: #e6f9ff;
	height: 118px;
	padding-left: 1%;
	float: left;
	margin-bottom: 1%;
	border-width: thin;
	border-style: solid;
	border-color: black;
	margin-left: 1%;
}
#container
{
	width: 100%;
	height:800px;
	margin: 0 auto;
}
.text_in_articles
{
	text-align: left;
	padding-left: 10%;

}
.link
{
	text-align: right;
	margin-top: 0.1%;
	padding-right: 2%;


}
