<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="ENUX Team">
		<link rel="Stylesheet"	href="{% static 'css/style.css' %}">
		<link rel="Stylesheet" 	href="{% static 'css/styleevent.css' %}">
		<link rel="Shortcut icon"	href="{% static 'icons/zsmeie.png' %">
		<link rel="Stylesheet" 	href="https://fonts.googleapis.com/css?family=Ropa+Sans|Audiowide">
	<title>ZSMEiE Toruń</title>
</head>
<body>

	<header id="headerinfo">
<i>
			<img src="icons/phone.png" alt="ikona telefonu" width="10px">Telefon: (+48 56) 6544791
		&nbsp;&nbsp;&nbsp;&nbsp;

			Zespół Szkół Mechanicznych Elektrycznych i Elektronicznych w Toruniu&nbsp;&nbsp;&nbsp;&nbsp;

			<img src="icons/email.png" alt="ikona e-mail" width="9px" style="padding-top: 5px;">
		e-mail: zsmeie@zsmeie.torun.pl
</i>
	<div id="loginpanel"><a href="" style="text-decoration:none; color:white;">&nbsp;Zaloguj&nbsp;</a></div>
	</header>

	<header id="headerphotos">

			<section id="mainlogoholder">
				<img src="icons/zsmeie.png" width="150vw" height="150vw"><br>
				<div style="color:black;">Zespół Szkoł Mechanicznych Elektrycznych i Elektronicznych<br> w Toruniu</div>
			</section>

	</header>
<section id="menu">

	<article id="menubuttonlayout">
		<article class="menubuttons">SZKOŁA
			<div class="optionholder">
				<div class="menuoption">PATRON ZSMEiE</div>
				<div class="menuoption">PRACOWNICY</div>
				<div class="menuoption">DOKUMENTY</div>
				<div class="menuoption">HISTORIA SZKOŁY</div>
				<div class="menuoption">SPORT</div>

				<a href="http://www.zsmeie.torun.pl/glowna/temat/internat/index.php">
					<div class="menuoption">INTERNAT</div>
				</a>
				<a href="https://zsmeie.github.io/su/">
					<div class="menuoption">SAMORZĄD</div>
				</a>
				<a href="http://www.zsmeie.torun.pl/glowna/temat/religia/index.html">
					<div class="menuoption">RELIGIA</div>
				</a>
			</div>
		</article>

		<article class="menubuttons">DLA UCZNIÓW
		<div class="optionholder">
				<a href="http://www.zsmeie.torun.pl/glowna/plan/index.html">
					<div class="menuoption">PLAN LEKCJI</div>
				</a>
				<a href="https://uonetplus.vulcan.net.pl/torun/">
					<div class="menuoption">E-DZIENNIK</div>
				</a>
				<a href="http://moodle.zsmeie.torun.pl/">
					<div class="menuoption">MOODLE</div>
				</a>
				<div class="menuoption">TERMINY</div>

				<div class="menuoption">KONSULTACJE</div>
				<div class="menuoption">PROGRAMY NAUCZANIA</div>
				<div class="menuoption">EGZAMINY</div>
				<div class="menuoption">REKRUTACJA</div>
			</div>
		</article>

		<article class="menubuttons">GALERIA
			<div class="optionholder">
				<div class="menuoption">ZDJĘCIA</div>
			</div>
		</article>

		<a href="index.html" style="color: black;"><article class="menubuttons">STRONA GŁÓWNA</article></a>

		<article class="menubuttons">WSPÓŁPRACA
			<div class="optionholder">
				<div class="menuoption">SPONSORZY</div>
				<div class="menuoption">MIĘDZYNARODOWA</div>
			</div>
		</article>

		<article class="menubuttons">KONTAKT
			<div class="optionholder">
				<div class="menuoption">ADRES I LOKALIZACJA</div>
				<div class="menuoption">NUMERY TELEFONU</div>
				<div class="menuoption">E-MAIL</div>
				<div class="menuoption">GODZINY PRACY</div>
			</div>
		</article>

		<article class="menubuttons">LINKI
			<div class="optionholder">
				<a href="https://www.facebook.com/ZSMEiE.Torun/"><div class="menuoption">FACEBOOK</div></a>
				<a href="https://www.youtube.com/user/TheZSMEiE"><div class="menuoption">YOUTUBE</div></a>
				<a href="http://www.zsmeie.torun.pl/glowna/index.php"><div class="menuoption">STR. ARCHIWALNA</div></a>
			</div>
		</article>
	</article>
</section>

<div id="container">

	{% block content %}
	<!-- Zawartość podstron -->
	{% endblock %}
</div>

<footer id="footer"></footer>

</body>
</html>
