body{
	margin: 0;
	font-family: Arial;
}
#headerinfo{
	background-color: black;
	width:auto;
	height:20px;
	color: orange;
	padding-left: 5px;
	text-align: center;
	font-size: 10px;
}
#headerphotos{
	background-color: gray;
	width: auto;
	height: 170px;	
	color: white;
}
.themeline{
	background-color: orange;
	width:auto;
	height:5px;
}
#menu{
	width:auto;
	height: 34px;
	background-color: aqua;
	margin-top: 40px;
	margin-bottom:40px;
}
#menubuttonlayout{
	height: 34px;
	width: 968px;
	margin: 0 auto;
}
.menubuttons{
	height: 30px;
	width: 148px;
	background-color: red;
	border:1px solid black;
	float:left;
	padding:1px;
	margin-left:5px;
	margin-right: 5px;
}
#menuendingbutton{
	height: 30px;
	width: 148px;
	background-color: red;
	border:1px solid black;
	float:left;
	padding:1px;
	margin-left:5px;
}
#menuendingbutton:hover{
	background-color: #80808073;
}
.menubuttons:hover{
	background-color: #80808073;
}
#container{
	width: 100%;
	min-height:800px;
	margin: 0 auto;
}
#menuleft{
	width: 18%;
	height: 500px;
	background-color:blue;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 5px;
}
#contentcontainer{
	
	width: 61%;
	min-height: 790px;
	background-color:yellow;
	margin: 0 auto;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 10px;
}
#menuright{
	width: 18%;
	height: 500px;
	background-color:blue;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 5px;
}
#footer
{
	width:auto;
	height: 100px;
	background-color:gray;
	
	
}