@media (min-width: 1124px) and (max-width: 1300px){
	.menuoption {
		height: 19px;
		padding-top: 8px;
		margin-top:5px;
		font-size: 0.67em;
		width: 96%;
	}
		#exit{
		width: 18px;
		height: 18px;
		padding:6px;
		right: 8vw;
	}
		.menuoptionlong {
		height: 23px;
		padding-top: 3px;
		margin-top:3px;
		font-size: 0.67em;
		width: 96%;
	}
		.themepages{
		font-size: 0.7em;
	}
		#sponsors{
		text-align: bottom;
		font-size: 0.7em;
		height:2%;
	}
		#footer{
		font-size: 0.9em;
	}
		.optionholder{
		padding:4px;
		padding-right: 4px;
		padding-bottom: 4px;
	}
		#screenholderimg{
		width: 85%;
		height: 50vw;
		margin-top: 1%;
		margin-left: 7%;
	}
		#leftarrowgaleria{
		width: 5%;
		margin-top: 22vw;
		margin-right: 5%;
	}
		#rightarrowgaleria{
		width: 5%;
		margin-top: 22vw;
		margin-left: 5%;
	}
	.socialicon{filter: grayscale(0%);}
	#RODO img{filter: grayscale(0%);}
	.option-arrow{display: none;}
	.option-title-span{width: 100%; margin: 0;}
	.option-title{
		width: 100%; 
		margin: 0;
		margin-top: 13px;
		height: 18px;
	}
	.optionholder{
		margin-left: 0px;
		padding: 0;
		padding-bottom: 2px;
		margin-top:50px;
	}
}


@media (min-width: 961px) and (max-width: 1124px){
	.menuoption {
	height: 19px;
	padding-top: 8px;
	margin-top:5px;
	font-size: 0.67em;
	width: 96%;
}
	#exit{
	width: 18px;
	height: 18px;
	padding:6px;
	right: 8vw;
}
	.menuoptionlong {
	height: 23px;
	padding-top: 3px;
	margin-top:3px;
	font-size: 0.67em;
	width: 96%;
}
	.themepages{
	font-size: 0.7em;
}
	#sponsors{
	text-align: bottom;
	font-size: 0.7em;
	height:2%;
}
	#footer{
	font-size: 0.9em;
}
	#screenholderimg{
	width: 85%;
	height: 50vw;
	margin-top: 1%;
	margin-left: 7%;
}
	#leftarrowgaleria{
	width: 5%;
	margin-top: 22vw;
	margin-right: 5%;
}
	#rightarrowgaleria{
	width: 5%;
	margin-top: 22vw;
	margin-left: 5%;
}
.socialicon{filter: grayscale(0%);}
#RODO img{filter: grayscale(0%);}
.option-arrow{display: none;}
.option-title-span{
	width: 100%; 
	margin: 0;
	font-size: 1em;
}
.option-title{
	width: 100%; 
	margin: 0;
	margin-top: 13px;
	height: 18px;
}
.optionholder{
	margin-left: 0px;
	padding: 0;
	padding-bottom: 2px;
	margin-top: 50px;
}
}

@media (min-width:800px) and (max-width: 961px){
	#mainlogoholder{
	font-size: 1.4em;
}
	.menuoption {
	height: 23px;
	width: 97%;
	padding-top: 10px;
	font-size: 0.8em;
}
	.text_in_articles{
	padding-left: 100px;
}	
	.text_in_articles2{
	padding-left: 100px;
}
	#exit{
	width: 18px;
	height: 18px;
	padding:6px;
	right: 11vw;
}
	.menuoptionlong{
	height: 22px;
	width: 95%;
	padding-top: 4px;
	margin-top:5px;
	font-size: 0.7em;
}
	.themepages{
	font-size: 0.7em;
}
	#footer{
	font-size: 0.9em;
}
	.menubuttons{
	font-size: 0.8em;
}
	#screenholderimg{
	width: 90%;
	height: 55vw;
	margin-top: 1%;
	margin-left: 5%;
}	
	#leftarrowgaleria{
	width: 5%;
	margin-top: 23vw;
	margin-right: 5%;
}
	#rightarrowgaleria{
	width: 5%;
	margin-top: 23vw;
	margin-left: 5%;
}
.socialicon{filter: grayscale(0%);}
#RODO img{filter: grayscale(0%);}
.option-arrow{display: none;}
.option-title-span{
	width: 100%; 
	margin: 0;
	font-size: 1em;
}
.option-title{
	width: 100%; 
	margin: 0;
	margin-top: 15px;
	height: 18px;
}
.optionholder{
	margin-left: 0px;
	padding: 0;
	padding-bottom: 2px;
	margin-top: 50px;
}
}

@media (min-width:701px) and (max-width: 800px){
	#mainlogoholder{
	font-size: 1.4em;
}
	#screenholderimg{
	width: 90%;
	height: 55vw;
	margin-top: 10%;
	margin-left: 5%;
}
	.menubuttons{
	font-size: 0.7em;
}
	#menu{
	height: 50px;
}
.menuoption {
	height: 23px;
	width: 97%;
	padding-top: 11px;
	margin-top:5px;
	font-size: 0.9em;
}
	#exit{
	width: 18px;
	height: 18px;
	padding:6px;
	right: 9vw;
}
	.menuoptionlong {
	height: 22px;
	width: 92%;
	padding-top: 3px;
	margin-top:4px;
	font-size: 0.75em;
	margin-left: 1px;
}
	.themepages{
	font-size: 0.7em;
}
	#sponsors{
	font-size: 0.7em;
}
	#footer{
	font-size: 0.9em;
}
	.text_pasek{
	padding-left:2.5%;
	padding-top:1.2%;
}
	#screenholderimg{
	width: 90%;
	height: 55vw;
	margin-top: 5%;
	margin-left: 5%;
}	
#leftarrowgaleria{
	width: 5%;
	margin-top: 23vw;
	margin-right: 4%;
}
#rightarrowgaleria{
	width: 5%;
	margin-top: 23vw;
	margin-left: 4%;
}
.socialicon{filter: grayscale(0%);}
#RODO img{filter: grayscale(0%);}
.option-arrow{display: none;}
.option-title-span{
	width: 100%; 
	margin: 0;
	font-size: 1em;
}
.option-title{
	width: 100%; 
	margin: 0;
	margin-top: 13px;
	height: 18px;
}
.optionholder{
	margin-top: 43px;
	margin-left: 0px;
	padding: 0;
	padding-bottom: 2px;
}
}
