body{
	margin: 0;
	font-family: 'Ropa Sans', sans-serif;
	background-color: #d8d8d8;
	position: relative;
	z-index:1;
}
a{
	color:black;
	text-decoration: none;
}
.terminy{
	text-align:center;
}
#banner{
	display:block;
	width: 100%;
	height: 300px;
	overflow: hidden;
	background-image: url('../slider/tlo.JPG');
	text-align:center;
	margin: 0 auto;
	background-repeat: no-repeat;
	display:table;
	background-attachment:fixed;
	text-shadow: 3px 3px black;
}
#mainlogoholder{
	color: white;
	font-size: 2em;
	font-family: Audiowide, cursive;
	margin-top: 1%;
	padding:10px;
	margin-bottom: 1.5%;
}
#zsmeiemainlogo{
	z-index:3;
	margin: 0 auto;
}
#silverplate{
	z-index:1;
	margin-left: -25px;
	margin-top: 70px;
	position: absolute;
}
#socialmedia{
	width: 85px;
	height:27px;
	background-color:white;
	position: absolute;
	margin-top: -32px;
	padding-top:3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
}
#RODO{
	width: 75px;
	height:21px;
	background-color: #75a8fc;
	position: absolute;
	margin-top: -75px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #adccfd;
	cursor:pointer;
	float: right;
	right: 0;
	font-weight: bold;
	padding-top: 7px;
}
#RODOtext{
	height:100%;
	width:50%;
	float:right;
	margin-right:1%;
}
#zoom{
	width: 137px;
	height:33px;
	background-color: #fdf900;
	position: absolute;
	margin-top: -37px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	right: 0;
	border: 1px black solid;
	border-right: none;
	cursor: pointer;
	/*-webkit-transition: height 2s; 
	transition: height 2s;*/
}
#zoom img{
	float: left;
	width: 33px;
	height: 33px;
}
#menu{
	width:100%;
	height: 58px;
	background-color:rgb(235, 235, 235);
}
#menubuttonlayout{
	width: 100%;
	height:100%;
	padding: 0;
	list-style: none;
	margin: 0 auto;
}
#container{
	width: 100%;
	min-height:135vh;
	margin: 0 auto;
}
#contentcontainer{
	width: 69%;
	min-height: 120vh;
	background-color:rgb(218, 218, 218);
	margin: 0 auto;
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	padding-top: 0.5%;
}
/* MENU RIGHT */
#menuright{
	width: 29%;
	background-color:hsl(0, 0%, 92%);
	float:left;
	padding-left:0.5%;
	padding-right:0.5%;
	transition: 0.5s;
	height: auto;
}
#rightmenubutton{
	border-radius: 5px;
	display: none;
	z-index: 999;
	background-image: url('../ikony/menuicon.png');
	background-size: 100%;
}
.themepages{
	width:49%;
	float:right;
	background-color: rgb(253, 253, 253);
	margin-top: 4%;
	text-align: center;
	margin-right:1%;
	position: relative;
	height: 130vh;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
		
}
ul li{
	list-style-type: none;
	padding-bottom: 10px;
}
#logos{
	padding-top: 6%;
	margin: 0 auto;
	height: 90%;
	width:99%;
}
.imglogolayout{
	width: 95%;
	margin-bottom: 2.5%;
	margin-top:3%;
	padding:2%;
	border-bottom:1px solid rgb(128, 127, 127);
}
/* MENU RIGHT END */
#footer{
	width:auto;
	height: 70px;
	background-color:#9a9a9a;
	clear: both;
	padding:0.5em;
	color: white;
	font-size: 1em;
}
.title_themepages{
	text-align: center;
}
.text_themepages{
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}
.text_themepages li{
	margin-top:5%;
}

.STRONY_TEMATYCZNE{
	width: 100%;
	background-color: rgb(131, 180, 245);
	margin: 0 auto;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;

}
/* PODSTRONA O PATRONIE */
.p1_text{
	padding-left: 1%;
	padding-right: 2%;
}
/* DOKUMENTY */
.docslink{
	padding-bottom: 5px;
}
.podlink{
	padding-left: 1.5%;
	padding-bottom: 5px;
}
/* REKRUTACJA */
.rekrutacja{
	float: left;
}
/* HISTORIA SZKOŁY */
#historia{
	margin-left:2%;
	margin-right:2%;
}
#dyrektorzy{
	float:left;
	margin-left:2%;
	margin-right:7%;
}
#przebudowy{
	float:left;
	margin-left:2%;
}
/* PRACOWNICY */
.nauczyciele{
	border: 1px solid black;
	float: left;
	width: 98%;
	margin-right:2%;
}
/* ARCHIWUM */
#archiwum_header{
	margin-top:3%;
	font-size: 1.5em;
	margin-left: 25%;
	float:left;
}
#archiwum_next{
	float:right;
	position: relative;
	margin-top:5%;
	
}
#archiwum_prev{
	float:left;
	position: relative;
	margin-top:5%;
}
.arrow_text{
	margin-bottom: -20%;
	margin-left: 23%;
}
#archiwum_input{
	margin-top: 13%;
	margin-left:35%;
}
.semestr{
	margin-top: 4%;
}
.titles_articles{
	padding-top: 0%;
	font-size: 1.3em;
	font-family: 'Roboto', sans-serif;
}
.titles_articles a{
	color: #0A5794;
	float: left;
}
.data{
	float:left;
	padding-left: 3%;
	padding-top:0%;
}
#lupa{
	right:75.2%;
	position:absolute;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	float:left;
}
#szukaj{
	font-size:1em;
	width:30%;
	float:left;
	line-height:1;
	height:39px;
	padding-left:1%;
}
#szukaj_wybor{
	background-color:#e7e7e7;
	width:30%;
	float:left;
	margin-left:0.3%;
	line-height:0.5;
	padding-left:1%;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	cursor:pointer;
}
#sposob{
	display:none;
	line-height:1;
}
#rok{
	width:15%;
	background-color:white;
	border: 1px solid black;
	border-color:grey;
	display:none;
	float:left;
	border-left: none;
	font-size:1em;
	height:36px;
	padding-left:2%;
}
#miesiąc{
	width:20%;
	background-color:white;
	border: 1px solid black;
	border-color:grey;
	line-height: 0.5;
	display:none;
	float:left;
	height:38px;
	cursor:pointer;
	padding-left:2%;
}
#miesiąc p{
	font-size:1em;
}
#miesiące{
	background-color:#e7e7e7;
	z-index:99;
	position:absolute;
	width: 8.5%;
	line-height:1.5;
	top: 37.3%;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	display:none;
}
.option-title{
	height:90%;
	width:80%;
	font-family: 'Roboto', sans-serif;
	float:left;
}
.option-arrow{
	height:90%;
	width:20%;
	float:left;
}
.option-arrow-span{
	font-size: 1.2em;
	margin-top:40%;
	margin-left:10%;
}
.option-title-span{
	font-size: 1em;
	margin-top:10%;
	margin-left:2%;
}
.option-animation-div{
	height:10%;
	margin-top:0%;
	width:0%;
	background-color: #0A5794;
}
