<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>Logowanie - ZSMEiE Toruń</title>
        <link rel="shortcut icon"	href="{% static 'ikony/zsmeie.png' %}">
		<link rel="stylesheet" 	href="{% static 'css/login.css' %}">

    </head>

    <body>

        <div id="contentbox">
            <img src="{% static 'ikony/zsmeie.png' %}" width="24%" alt="Logo Zsmeie" id="logo">

            <p class="napis">Zaloguj się<br>
            na swoje konto nauczyciela</p>

            <div id="greyholder">
                    <img src="{% static 'ikony/login2.png' %}" width="70px" alt="osoba" id="osoba">
                    <form method="POST" action="{% url 'loginfunc' %}">
                        {% csrf_token %}
                        <fieldset class="fieldset">
                            <legend id="legend">Dane logowania</legend>
                                <input name="username" class="inputy" type="text" placeholder="  login">
                                <input name="password" class="inputy" type="password" placeholder="  hasło">
                            </fieldset>                    
                        <div id="inputholder3">
                            <input type="reset" id="cofnij" value="Cofnij">
                        </div>
                        <div id="inputholder4">
                            <input type="submit" id="dalej" value="Dalej">
                        </div>
                        
                    </form>
            </div>
             
        {% if messages %}
            {% for message in messages %}
                <script>alert("{{message}}")</script>
            {% endfor %}
        {% endif %}


        </div>

    </body>
</html>
