<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>ZSMEiE Toruń</title>
        <link rel="stylesheet"	href="{% static 'css/style.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/styleevent.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/login.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/fix.css' %}">
		<link rel="stylesheet"  	href="{% static 'css/artykuly.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/responsive.css' %}" media="all and (max-width: 1124px)">
    </head>

    <body>
        <div id="contentbox">
            <img src="{% static 'ikony/zsmeie.png' %}" width="24%" alt="Logo Zsmeie" id="logo">
            <p class="napis">Dodaj nowy artykuł</p>

            <div id="greyholder">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'articlefunc' %}">
                        {% csrf_token %}
                        <div id="inputholder1">
                            Tytuł: <input name="title" class="inputy" type="text">
                        </div>

                        <div id="inputholder1">
                            Opis: <input name="description" class="inputy" type="text">
                        </div>

                        <div id="inputholder1">
                            Ikona: <input name="icon" id="input-special" type="file">
                        </div>

                        <div id="pliki">

                            <div id="pliki-title-container">
                                <div id="pliki-title-text">Dodatkowe pliki (Opcjonalne)</div>
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-1" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="photo" id="plik-1" class="pliki-input"/>
                                </div>                                
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-2" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="photo" id="plik-2" class="pliki-input"/>
                                </div>                                
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-3" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="photo" id="plik-3" class="pliki-input"/>
                                </div>                                
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-4" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="photo" id="plik-4" class="pliki-input"/>
                                </div>                                
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-5" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="photo" id="plik-5" class="pliki-input"/>
                                </div> 
                                
                                
                                    <span id="test-span"></span>
                               
                            </div>

                        </div>

                        <div id="inputholder2">
                            <textarea name="content" class="textareainput" cols="55" rows="5" placeholder="Zawartość artykułu"></textarea>
                        </div>

                        <center><input type="submit" value="Dodaj nowy artykuł!"></center>
                        
                    </form>
            </div>
        </div>
    </body>
</html>