<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>ZSMEiE Toruń</title>
        <link rel="stylesheet"	href="{% static 'css/style.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/styleevent.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/login.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/fix.css' %}">
		<link rel="stylesheet"  	href="{% static 'css/artykuly.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/responsive.css' %}" media="all and (max-width: 1124px)">
    </head>

    <body>
        <div id="contentbox">
            <img src="{% static 'ikony/zsmeie.png' %}" width="24%" alt="Logo Zsmeie" id="logo">
            <p class="napis">Dodaj nowy artykuł</p>
            <div id="greyholder">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'articlefunc' %}">
                        {% csrf_token %}
                        <div id="inputholder1">
                            Tytuł: <input name="title" class="inputy" type="text">
                        </div>

                        <div id="inputholder1">
                            Opis: <input name="description" class="inputy" type="text">
                        </div>

                        <div id="inputholder1">
                            Ikona: <input name="icon" id="input-special" type="file">
                        </div>

                        <div id="pliki">

                            <div id="pliki-title-container">
                                <div id="pliki-title-text">Dodatkowe pliki (Opcjonalne)</div>
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-1" class="pliki-label" > WYBIERZ PLIK </label>
                                    <input type="file" name="file1" id="plik-1" class="pliki-input" value="" onchange="myFunction(0)"/>
                                </div>
                                <span class="file-name"></span> 
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-2" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="file2" id="plik-2" class="pliki-input" value="" onchange="myFunction(1)"/>
                                </div>   
                                <span class="file-name"></span>                          
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-3" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="file3" id="plik-3" class="pliki-input" value="" onchange="myFunction(2)"/>
                                </div>    
                                <span class="file-name"></span>                        
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-4" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="file4" id="plik-4" class="pliki-input" value="" onchange="myFunction(3)"/> 
                                </div> 
                                <span class="file-name"></span>                           
                            </div>

                            <div class="pliki-input-holder">
                                <div class="pliki-input-title">
                                    <label for="plik-5" class="pliki-label"> WYBIERZ PLIK </label>
                                    <input type="file" name="file5" id="plik-5" class="pliki-input" value="" onchange="myFunction(4)"/>
                                </div> 
                                <span class="file-name"></span>
                            </div>

                        </div>

                        <div id="inputholder2">
                            <textarea name="content" class="textareainput" cols="55" rows="5" placeholder="Zawartość artykułu"></textarea>
                        </div>

                        <center><input type="submit" value="Dodaj nowy artykuł!"></center>
                        
                    </form>
            </div>
        </div>
        <script>
            function myFunction(numer) {
                switch(numer){
                    case 0:
                        var x = document.getElementById("plik-1").value;
                        break;
                    case 1:
                        var x = document.getElementById("plik-2").value;
                        break; 
                    case 2:
                        var x = document.getElementById("plik-3").value;
                        break; 
                    case 3:
                        var x = document.getElementById("plik-4").value;
                        break; 
                    case 4:
                        var x = document.getElementById("plik-5").value;
                        break;     
                }
                
                document.getElementsByClassName('file-name')[numer].innerHTML = x;
            }
        </script>
    </body>
</html>