<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <title>ZSMEiE Toruń</title>
        <link rel="stylesheet"	href="{% static 'css/style.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/styleevent.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/login.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/fix.css' %}">
		<link rel="stylesheet"  	href="{% static 'css/artykuly.css' %}">
		<link rel="stylesheet" 	href="{% static 'css/responsive.css' %}" media="all and (max-width: 1124px)">
    </head>

    <body>
        <div id="contentbox">
            <img src="{% static 'ikony/zsmeie.png' %}" width="24%" alt="Logo Zsmeie" id="logo">
            <p class="napis">Edytuj artykuł</p>

            <div id="greyholder">
                    <form method="POST" enctype="multipart/form-data" action="{% url 'editarticlefunc' article_id=article.id %}">
                        {% csrf_token %}
                        <div id="inputholder1">
                            Tytuł: <input name="title" class="inputy" type="text" value="{{ article.title }}">
                        </div>

                        <div id="inputholder1">
                            Opis: <input name="description" class="inputy" type="text" value="{{ article.description }}">
                        </div>
                        &nbsp;
                        <div id="inputholder1">
                            Ikona: <input name="icon" class="input" type="file" value="{{ article.icon }}">
                        </div>


                        <div id="inputholder2">
                            <textarea id="content" name="content"  class="textareainput" cols="55" rows="5" placeholder="Zawartość artykułu">{{article.content}}</textarea>
                        </div>

                        <center><input type="submit" value="Edytuj!"></center>
                        
                    </form>
            </div>
        </div>
    </body>
</html>